/* 폰트 */

@font-face {
  font-family: "Baemin";
  src: url("fonts/BMDOHYEON_ttf.ttf");
}

/* 전체 css */

body,
html {
  margin: 0;
  padding: 0;
  font-family: "Baemin";
}

/* 나브바 */

.nav {
  width: 100%;
  height: 70px;
  background: green;
}

.nav > .main_text {
  line-height: 70px;
  float: left;
  margin-left: 8%;
  font-size: 24px;
}

.nav > .selectbar {
  /* line-height: 70px; */
  float: right;
  margin-right: 5%;
  font-size: 35px;
  display: table;
  margin: 12.5px 10%;
}

.nav > .selectbar:hover {
  color: white;
  cursor: pointer;
}

.nav > .selectbar > i {
  /* line-height: 70px; */
  display: table-cell;
  vertical-align: middle;
}

.nav > .selectMenu {
  position: absolute;
  top: 70px;
  width: 100%;
  background: #6a8518;
  visibility: hidden;
  transition: visibility 0.5s, opacity 0.5s linear;
  opacity: 0;
  /* display: none; */
  /*  */
}

.nav > .selectMenu > ul {
  list-style: none;
}

.nav > .selectMenu > ul > li:hover {
  opacity: 0.8;
}

.nav > .selectMenu > ul > li > a {
  text-decoration: none;
}

/* 메인 */
/* 메인 */

/* 첫페이지  */

.main > .MainTexts {
  margin: 100px 0px;
  text-align: center;
}

.main > .MainTexts > .Hello {
  font-size: 1.9em;
  font-size: 30px;
}

.main > .MainTexts > .About {
  /* font-size: 50px; */
  font-size: 3em;
}

.main > .MainTexts > .Job {
  /* font-size: 50px; */
  font-size: 1.5em;
  opacity: 0.6;
  word-break: keep-all;
}

.main > .MainTexts > .ViewMore {
  margin: 100px 0px;
  color: black;
  /* border: 2px solid greenyellow; */
  background: greenyellow;
  border-radius: 1000px;
  cursor: pointer;
  width: 200px;
  height: 66px;
  font-size: 20px;
}

.main > .MainTexts > .ViewMore:hover {
  background-color: rgba(173, 255, 47, 0.6);
}

/* 어바웃미 */

.main > .AboutMe > h1 {
  text-align: center;
  margin-bottom: 40px;
}

.main > .AboutMe > .boxes {
  width: 90%;
  margin: auto;
  /* background-color: greenyellow; */
}

.main > .AboutMe > .boxes > .box1 {
  width: 49%;
  background-color: white;
  float: left;
  text-align: center;
  margin-right: 2%;
  line-height: 200%;
  margin-bottom: 70px;
}

.main > .AboutMe > .boxes > .box2 {
  width: 49%;
  background-color: white;
  float: left;
  text-align: center;
  line-height: 200%;
  margin-bottom: 70px;
}

.main > .AboutMe > .boxes > .box1 > a {
  color: #0000ee;
  text-decoration: none;
}

.main > .AboutMe > .boxes > .box2 > a {
  color: #0000ee;
  text-decoration: none;
}

.main > .AboutMe > .boxes > .box1 > i {
  vertical-align: middle;
}

.main > .AboutMe > .boxes > .box2 > i {
  vertical-align: middle;
}

@media (max-width: 670px) {
  .main > .AboutMe > .boxes > .box1 {
    float: none;
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 10%;
  }

  .main > .AboutMe > .boxes > .box2 {
    float: none;
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 50px;
  }
}

/* 프로젝트 */

.main > .Projects > h1 {
  text-align: center;
  margin-bottom: 40px;
}

.main > .Projects > .boxes > #alh {
  background-image: url("img/alh.png");
}

.main > .Projects > .boxes > .box {
  width: 300px;
  height: 300px;
  text-align: center;
  border-radius: 20px;
  margin-top: 30px;
  margin-bottom: 40px;
  margin-right: 5%;
  margin-left: 5%;
  background-size: 100% 100%;
  background-color: rgba(255, 255, 255, 0.15);
  background-blend-mode: lighten;
  border: 2px solid #ef372e;
}

.main > .Projects > .boxes > .box > .projectTitle {
  padding-top: 20px;
  font-size: 25px;
}

.main > .Projects > .boxes > .box > .projectDs {
  margin-top: 27px;
  font-size: 19px;
  padding-left: 45px;
  text-align: left;
}

.main > .Projects > .boxes > .box > a {
  margin-top: 40px;
  display: block;
  font-size: 45px;
  text-decoration: none;
  opacity: 0;
  color: blue;
  /* text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa,
    0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa; */
  /* margin-bottom: ;
  margin-left: ;
  margin-right: ; */
}

.main > .Projects > .boxes > .box > a > i {
  vertical-align: middle;
}

.main > .Projects > .boxes > .box:hover {
  background-color: rgba(255, 255, 255, 0.6);
  background-blend-mode: lighten;
}

.main > .Projects > .boxes > .box:hover a {
  opacity: 2;
}

@media (max-width: 670px) {
  .main > .Projects > .boxes > .box {
    margin-left: auto;
    margin-right: auto;
  }
}
