/* 폰트 */

@font-face {
  font-family: "Bae";
  src: url("fonts/BMDOHYEON_ttf.ttf");
}

/* 전체 css */

body,
html {
  margin: 0;
  padding: 0;
  font-family: "Bae";
}

/* 나브바 */

.nav {
  width: 100%;
  height: 70px;
  background: #f4900c;
}

.nav > .main_text {
  line-height: 70px;
  float: left;
  margin-left: 8%;
  font-size: 24px;
}

.nav > .selectbar {
  /* line-height: 70px; */
  float: right;
  margin-right: 5%;
  font-size: 35px;
  display: table;
  margin: 12.5px 10%;
}

.nav > .selectbar:hover {
  color: white;
  cursor: pointer;
}

.nav > .selectbar > i {
  /* line-height: 70px; */
  display: table-cell;
  vertical-align: middle;
}

.nav > .selectMenu {
  position: absolute;
  top: 70px;
  width: 100%;
  background: #f4b60c;
  visibility: hidden;
  transition: visibility 0.5s, opacity 0.5s linear;
  opacity: 0;
  /* display: none; */
  /*  */
}

.nav > .selectMenu > ul {
  list-style: none;
}

.nav > .selectMenu > ul > li:hover {
  opacity: 0.8;
}

.nav > .selectMenu > ul > li > a {
  text-decoration: none;
}

/* 메인 */
/* 메인 */

.main > .MainTexts {
  margin: 100px 0;
  text-align: center;
}

.main > .MainTexts > .Hello {
  font-size: 1.9em;
  font-size: 30px;
}

.main > .MainTexts > .About {
  /* font-size: 50px; */
  font-size: 3em;
}

.main > .MainTexts > .Job {
  /* font-size: 50px; */
  font-size: 1.5em;
  opacity: 0.6;
  word-break: keep-all;
}

/* .main > .MainTexts > img {
  border-radius: 50%;
} */

.main > .MainTexts > .ViewMore {
  color: black;
  /* border: 2px solid greenyellow; */
  background: #c1f700;
  border-radius: 1000px;
  cursor: pointer;
  width: 200px;
  height: 66px;
  font-size: 20px;
  margin-top: 100px;
  margin-left: 5px;
  margin-right: 5px;
}

.main > .MainTexts > .ViewMore:hover {
  background-color: rgba(247, 206, 0, 0.6);
}
